body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #24292E;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ddd;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #24292E;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

button {
    display: block;
    width: 200px;
    height: 50px;
    margin: 20px 0;
    background-color: #24292E;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #373737;
}

button:hover {
    background-color: #373737;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f2f2f2;
}

#suggestions div {
    padding: 5px;
    cursor: pointer;
}

#suggestions div:hover {
    background-color: #f0f0f0;
    color: #000;
}

#suggestions div {
    padding: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    margin-bottom: 2px;
}

.suggestions {
    position: absolute;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    max-height: 200px;
    overflow-y: auto;
    width: fit-content; /* replace 100% with fit-content */
}

.suggestion {
    padding: 12px 16px;
    cursor: pointer;
}
.suggestion:hover {
    background-color: #f1f1f1;
}

#home-button {
    display: block;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    background-color: #24292E;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #373737;
}

.social-icons {
    display: flex;
    padding: 1rem;
    background: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.social-icons li {
    list-style: none;
    margin: 0 15px;
}

.social-icons li a {
    color: #fff;
    font-size: 24px;
    transition: color 0.5s;
}

.social-icons .instagram:hover {
    color: #E1306C;
}

.social-icons .twitter:hover {
    color: #1DA1F2;
}

.social-icons .youtube:hover {
    color: #FF0000;
}

.social-icons .snapchat:hover {
    color: #FFFC00;
}

.custom-dropdown {
    position: relative;
    width: 100px; /* or whatever width you desire */
}

.selected-option, .option {
    width: 100%;
    height: auto;
    cursor: pointer;
    border: 1px solid #ddd;
}

.dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ddd;
    z-index: 10;
    background: #fff;
}

.hidden {
    display: none;
}

.option img {
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
    display: block;
    margin: 5px auto;  /* centers the image horizontally */
}

#workouts option {
    padding: 5px;
}

#workouts img {
    max-width: 40px;  /* Adjust as needed */
    max-height: 40px;
    vertical-align: middle;
    margin-right: 10px;  /* Space between the image and the text */
}

#workouts span {
    vertical-align: middle;
}