body {
    margin: 0;
    padding: 0;
    background: #262626;
    transition: background-color 1s;
}
  
.menu {
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.menu li {
    list-style: none;
    margin: 0 15px;
}
  
  .menu li a {
    position: relative;
    display: flex;
    width: 120px;
    height: 120px;
    text-align: center;
    line-height: 120px;
    background: #333;
    font-size: 60px;
    color: #666;
    transition: .5s;
    align-items: center;
    justify-content: center;
}

.menu li a img {
    max-width: 100%;
    max-height: 100%;
}
  
.menu li a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffee10;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}
  
.menu li a:hover::after {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ffee10;
}
  
.menu li a:hover {
    color: #ffee10;
    box-shadow: 0 0 5px #ffee10;
    text-shadow: 0 0 5px #ffee10;
}
  
.bg {
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
}

/* Add these new classes */
.bg-bodybuilding {
    background-color: #ffca6d;
}

.bg-gaming {
    background-color: #ff6d6d;
}

.bg-travel {
    background-color: #6dffb9;
}
  
  .menu li:first-child a:hover ~ .bg {
    background: #ffca6d;
}
  
  .menu li:nth-child(2) a:hover ~ .bg {
    background: #ff6d6d;
}
  
.menu li:nth-child(3) a:hover ~ .bg {
    background: #6dffb9;
}

.social-icons {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background: #333;
    z-index: 0; /* Decrease z-index */
}

.social-icons li {
    list-style: none;
    margin: 0 15px;
}

.social-icons li a {
    color: #fff;
    font-size: 24px;
    transition: color 0.5s;
}

.social-icons .instagram:hover {
    color: #E1306C; /* Instagram's brand color */
}

.social-icons .twitter:hover {
    color: #1DA1F2; /* Twitter's brand color */
}

.social-icons .youtube:hover {
    color: #FF0000; /* YouTube's brand color */
}

.social-icons .snapchat:hover {
    color: #FFFC00; /* Snapchat's brand color */
}
